<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>User Registration</title>
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="static/custom.css"/>
</head>
<body>
  <div class="container-fluid w-75 pt-3">
    <h1>User Registration</h1>  
    <form action="/register" method="POST">
      <label for="username">Username:</label>
      <input class="form-control" type="text" id="username" name="username" required>
    
      
      <label for="password">Password:</label>
      <input class="form-control" type="password" id="password" name="password" required>
     
      
      <label for="email">Email:</label>
      <input class="form-control" type="email" id="email" name="email" required>
    
      
      <label for="firstName">First Name:</label>
      <input class="form-control" type="text" id="firstName" name="firstName">
     
      
      <label for="lastName">Last Name:</label>
      <input class="form-control" type="text" id="lastName" name="lastName">
     
      
      <label for="street">Street:</label>
      <input class="form-control" type="text" id="street" name="street">
    
      
      <label for="city">City:</label>
      <input class="form-control" type="text" id="city" name="city">
   
      
      <label for="state">State:</label>
      <input class="form-control" type="text" id="state" name="state">
   
      
      <label for="zip">ZIP Code:</label>
      <input class="form-control " type="text" id="zip" name="zip">
    
      
      <button class= "btn-primary" type="submit">Register</button>
    </form>
  </div>

 <script src="/js/bootstrap.js"></script>  
</body>
</html>